#define t_bg_floor     #010000
#define t_bg_dip       #2B2B28
#define t_background   #000000
#define t_bg_bump      #3F3E3B
#define t_fg_comment   #7F7F83
#define t_foreground   #ffa342
#define t_fg_highlight #B6B7BB
#define t_fg_ceiling   #FEFFFF


!! transparency (0-1)
st.alpha: 0.99
!rofi.color-window: argb:CC2d303b

rofi.kb-clear-line: Control+c

URxvt.background: t_background
URxvt.foreground: t_foreground


!Rofi
!!!!rofi.theme: solarised-darker
!rofi.color-enabled: true
!rofi.color-window: argb:df292d37, #292d37, #17a086
!rofi.color-normal: argb:0292d37, #ffffff, argb:0292d37, argb:0292d37, #17a086
!rofi.color-active: argb:0292d37, #ffffff, argb:0292d37, argb:0292d37, #ffffff
!i3 set gap!rofi.color-urgent: argb:0292d37, #ffffff, argb:0292d37, argb:0292d37, #ffffff
!
!rofi.font: GoogleSans-Regular 15
!rofi.eh: 1
!rofi.line-margin: 30
!rofi.separator-style: solid
!rofi.hide-scrollbar: true
!rofi.lines: 3
!rofi.width: 100
!rofi.padding: 800
!rofi.bw: 0
!rofi.auto-select: true

*.color0: t_background


