/* 
_____ _                 _                     _    
/ ____(_)               | |                   | |   
| (___  _ _ __ ___  _ __ | | ___ _ __ ___ _ __ | |_  
\___ \| | '_ ` _ \| '_ \| |/ _ \ '__/ _ \ '_ \| __| 
____) | | | | | | | |_) | |  __/ | |  __/ | | | |_  
|_____/|_|_| |_| |_| .__/|_|\___|_|  \___|_| |_|\__| 
|  ____|           | |                               
| |__ _____  __    |_|                               
|  __/ _ \ \/ /                                      
| | | (_) >  <                                       
|_|  \___/_/\_\                                      
                                                    
 
With URL Bar Version
*/

/* 
V A R I A B L E S 
Here you can change the opacity level and the main color of the browser. Also the color of the selections (When you select text)
*/

:root {
  --srf-color-primary: rgba(2, 2, 2, 0.3);
  --srf-color-selection: #bebebe;
  --srf-color-urlbar: rgba(2, 2, 2, 0.3);
}

/* 
G E N E R A L 
*/

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box {
  background-color: var(--srf-color-primary) !important;
  -moz-appearance: none !important;
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
	--color-bg: #000000;
	--toolbar-bgcolor: var(--color-bg) !important;

	--gap-between-tabs: 5px;
	--margin-after-tab-list: 8x;
	--margin-before-tab-list: 8px;
	--tab-font: "Cantarell", sans-serif;
	--tab-font-weight: 700;
	--tab-height: 32px;
	--tabs-container-height: 100px;

	--urlbar-container-margin: 5px;
	--urlbar-list-width: 60%;
	--urlbar-text-font: "mononoki Nerd Font", GoogleSans_regular;
	--urlbar-text-size: 11pt;
	--urlbar-text-weight: 500;

	/* Firefox variables */
	--lwt-toolbar-field-focus-color: #ebdbb2 !important;
	--lwt-toolbar-field-color: #ebdbb2 !important;
	--lwt-toolbar-field-background-color: var(--color-bg) !important;

	--arrowpanel-background: #1a1a1a !important;
	--arrowpanel-color: #ebdbb2 !important;
	--arrowpanel-border-color: transparent !important;
}

/* This positions the tabs under the navaigator container */
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}


::selection {
  background-color: var(--srf-color-selection);
  color: #141414;
}

/* Custom back and forward buttons */
#back-button {
	list-style-image: url("left-arrow.svg") !important;
}

#forward-button {
	list-style-image: url("right-arrow.svg") !important;
}

/* 
T A B S 
*/

:root {
  --tabs-border: transparent !important;
}

.tab-close-button {
  display: none !important
}

.tab-background {
  border: none !important;
}

.tab-background[selected="true"] {
  -moz-appearance: none !important;
  background-image: none !important;
}
.tabbrowser-tabs {
  border: none !important;
  opacity: 0 !important;
}

.tabbrowser-tab::before {
  opacity: 0 !important;
  border-left: none !important;
}

.tabbrowser-tab::after {
  opacity: 0 !important;
  border-left: none !important;
}

.tabbrowser-tab[soundplaying="true"] {
    background-color: #83a598 !important;
}

.titlebar-placeholder {
  border: none !important;
}

/* Regular browser tabs */
.tabbrowser-tab {
	background-color: #171717 !important;
	background-image: linear-gradient(to left, var(--color-tab-normal-start), var(--color-tab-normal-end)) !important;
	border-radius: var(--tab-height) !important;
	margin-inline-end: var(--gap-between-tabs) !important;
	max-height: var(--tab-height) !important;
	min-height: var(--tab-height) !important;
}

.tabbrowser-tab:hover {
	background-color: none !important;
	/*background-image: linear-gradient(to left, #c97dff, #ff8989) !important;*/
	background-image: linear-gradient(to left, #83a598, #fb4934) !important; /*blue->purple*/
	/*background-image: linear-gradient(to left, #C05B7B, #65375C) !important;*/ /*purple->white*/
/*	background-image: linear-gradient(to left, #E67B51, #C93F3F) !important; /*orangey*/
	color: black !important;
}

.tabbrowser-tab[selected="true"] {
	background-color: none !important;
/*	background-image: linear-gradient(to left, #fff59d, #c05057) !important;*/
	/* background-image: linear-gradient(to left, #fabd2f, #fb4934) !important; */ /*orange->yellow */
	background-image: linear-gradient(to left, #a89984, #a89984) !important;
	color: black !important;
	font-weight: var(--tab-font-weight) !important;
}

.tab-content {
	background-color: none !important;
	background-image: none !important;
	font-family: var(--tab-font) !important;
}

/* pinned browser tabs */
/* TODO: Find a way to add spacing between the pinned tabs when tab list scrolling is triggered. Adding a margin just screws everything up */
.tabbrowser-tab:hover[pinned="true"] {
	background-image: linear-gradient(to left, #ff8989, #ff8989) !important;
}

.tabbrowser-tab[pinned="true"][selected="true"] {
	background-image: linear-gradient(to left, #a1ffb6, #a1ffb6) !important;
}

.tabbrowser-tab[pinned="true"] {
	background-image: linear-gradient(to left, #ffc386, #ffc386) !important;
	color: #1d1d1d !important;
	max-width: var(--tab-height) !important;
	min-width: var(--tab-height) !important;
}

.tabbrowser-tab[pinned="true"] .tab-icon-image {
	align-items: center !important;
	display: inline-block !important;
	min-height: var(--pinned-tab-favicon-dim) !important;
	min-width: var(--pinned-tab-favicon-dim) !important;
}

.tabbrowser-tab[pinned="true"] .tab-label-container {
	display: none !important;
}

.tab-stack {
	display: flex !important;
	justify-content: center !important;
}

/* Modify these values to tweak the start point of the tab list */
.tabbrowser-arrowscrollbox {
	margin-inline-start: var(--margin-before-tab-list) !important;
	margin-inline-end: var(--margin-after-tab-list) !important;
}

/* 
B U T T O N S 
Here you can comment if you want your buttons to be showed up!
*/

/*
#forward-button {
  display: none !important;
}

#back-button {
  display: none !important;
}*/

.titlebar-spacer {
  display: none !important;
}

#tracking-protection-icon-container {
  display: none !important;
}

#PanelUI-button {
  display: none !important;
}

/* 
N A V B A R
*/

#navigator-toolbox::after {
  border-bottom: 0px !important;
  border-top: 0px !important;
}

#nav-bar {
  background: var(--srf-color-primary) !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: -1px !important;
  border-top-width: -1px !important;
  margin-bottom: -1px !important;
  border-bottom-width: -1px !important;
}

/* 
S I D E - B A R
*/

#history-panel,
#sidebar-search-container,
#bookmarksPanel {
  background: var(--srf-color-primary) !important;
}

#search-box {
  -moz-appearance: none !important;
  background: var(--srf-color-primary) !important;
  border-radius: 6px !important;
}

#sidebar-search-container {
  background-color: var(--srf-color-primary) !important;
}

#sidebar-icon {
  display: none !important;
}

.sidebar-placesTree {
  color: var(--srf-color-selection) !important;
}

#sidebar-switcher-target {
  color: var(--srf-color-selection) !important;
}

#sidebar-header {
  background: var(--srf-color-primary) !important;
}

#sidebar-box {
  --sidebar-background-color: var(--srf-color-primary) !important;
}

#sidebar-splitter {
  border: none !important;
  opacity: 1 !important;
  background-color: var(--srf-color-primary) !important;
}

/* 
U R L - B A R
*/

/* Hacky way to make the url input bar centered */
input#urlbar-input {
    text-align: center !important;
    width: 500px !important;
}

#urlbar[breakout] {
  margin-inline-start: 0px !important;
  width: 100% !important;
  left: 0 !important;
  top: calc(
    (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
  ) !important;
}

#urlbar[breakout]:not([open]) {
  bottom: calc(
    (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
  ) !important;
}

#urlbar-background {
  background: var(--srf-color-urlbar) !important;
  border: none !important;
  animation: none !important;
}

#urlbar-input-container {
  padding: 0 !important;
  height: 100% !important;
}

#identity-box {
  display: none;
}

#urlbar-input:focus {
  color: #ebdbb2 !important;
}

.megabar[open="true"] > #urlbar-background {
  background: #000 !important;
}

.urlbarView {
  margin-inline: 0 !important;
  width: auto !important;
}

.urlbarView-row {
  padding: 0 2px !important;
}

.urlbarView-row-inner {
  padding-inline-start: 4px !important;
}

/* Move right click menu a bit */
#contentAreaContextMenu {
	margin: 10px 0 0 10px;
}


/* 
Designed and Coded by Miguel R. Ávila: https://github.com/MiguelRAvila
*/
